<!DOCTYPE html>
<html>
  <head>
    <title>LoungeVibes Admin</title>
    <style type="text/css">
    	[ng\:cloak], [ng-cloak], .ng-cloak {
    		display: none;
    	}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <link rel="icon" type="image/png" href="/images/logo.png">
  </head>
  <body>
      <div class="container" ng-app="adminApp" ng-controller="adminCtrl" ng-cloak>
                <div class="col-12 col-xl-11 mt-xl-5 bg-white elem subelem" id="playlist"><br>
                  Playlist : <button ng-disabled="buttonState" ng-click="clearPlaylist()">Remove all songs</button> <br><br><span id="songs" ng-repeat="x in playlist.data" >{{x["artist"]}} - {{x["name"]}} <input type="image" src="/images/error.png" name="removeSong"id="removeSong" ng-disabled="buttonState" ng-click="removeSong(x['_id'])"/><br></span>
                </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/admin.js"></script>
  </body>
</html>