<!DOCTYPE html>
<html>
  <head>
    <title>Loungevibes Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='../public/stylesheets/home.css' />
    <link rel="icon" type="image/png" href="/images/logo.png">
  </head>
  <body>
  	<div class="container">
  		<div class="row">
  			<div class="col-8">
  				<div class="row">
  					<div class="col mt-md-5 bg-white elem">dak</div>
  				</div>
  			</div>
  			<div class="col-4">
  				<div class="row">
  					<div class="col-lg-1 mt-xl-5"></div>
  					<div class="col-12 col-md-11 mt-md-5 bg-white elem">Next song :<br><br>Luis Fonsi - Despacito ft. Daddy Yankee<br></div>
  				</div>
  			</div>
  		</div>
  	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="home.js"></script>
  </body>
</html>