@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat';
	background-image: url('../images/home_background.png');
}

audio {
	background-image: url('../images/home_background.png');
}

.elem {
	height: 400px;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}