@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat';
	background-image: url('../images/home_background.png');
}

audio {
	background-image: url('../images/home_background.png');
}

.elem {
	height: 400px;
}

.subelem {
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#playlist {
	overflow: scroll;
}

#songs {
	font-size: 14px;
}

#player-gif {
	width: 100%;
	height: 75%;
}

#currentMusic {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 75%;
	color: white;
	text-align: center;
	background: rgba(0,0,0,0.5);
	font-size: 17px;
	top: 0px;
	font-weight: bold;
}

#brow {
	width: 100%;
	margin: 0px 0px;
	padding-bottom: 25px;
}

#addSongw {
	padding: 0px 0px;
}

#addSong {
	font-size: 25px;
	border-radius: 50px;
	padding: 10px 37px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-width: auto;
}

.dislikeBtn {
	margin-left: 25px;
}

.likeBtn {
	color: #0280F6;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #F8F8F8;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  min-width: 300px;
  width: 25%;
}

.modal-content > input {
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 15px;
	padding: 5px 10px;
	border-color: rgba(218, 223, 225, 0.3);
}

.modal-content > input[type="submit"] {
	font-size: 20px;
}

.close {
  color: #606368;
  float: right;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}